DEVICE=br-ex
DEVICETYPE=ovn
TYPE=OVSBridge
BOOTPROTO=static
IPADDR={{packstack_public_net_ipaddr}}
NETMASK={{packstack_public_net_netmask}}
GATEWAY={{packstack_public_net_gateway}}
DNS1={{packstack_public_net_dns}}
ONBOOT=yes